* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
  color: #333;
}


.header {
  background: #f9b233;
  color: white;
  text-align: center;
  padding: 2rem 1rem;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  background: #333;
  padding: 1rem;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav a:hover {
  color: #f9b233;
}

.container {
  padding: 2rem;
  max-width: 1000px;
  margin: auto;
}

section {
    margin-bottom: 2rem;
}

h2 {
    margin-bottom: 1rem;
    color: #f9b233;
}