* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
  color: #333;
}


.header {
  background: #f9b233;
  color: white;
  text-align: center;
  padding: 2rem 1rem;
}